## Observations and Insights

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_md = pd.read_csv(mouse_metadata_path)
study_res = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_study = pd.merge(mouse_md, study_res, how ='inner', on ='Mouse ID')
mouse_study.columns = ['m_id', 'drug_reg', 'sex', 'age_mon', 'weight_g', 'timepoint', 'tumorvol_mm3', 'metastatic_sites']

# Display the data table for preview
mouse_study

,m_id,drug_reg,sex,age_mon,weight_g,timepoint,tumorvol_mm3,metastatic_sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [14]:
mouse_study.shape

(1893, 8)

In [15]:
# Checking the number of mice.

#Sort by Mouse ID then Timepoint

mouse_study.sort_values(['m_id','timepoint'], ascending = False) 

#Count and Call Unique values

mouse_num = mouse_study['m_id'].nunique()
mouse_num

249

In [16]:
#Modify data to use Mouse ID as index

mouse_index = mouse_study.set_index("m_id", drop = False)
mouse_index

,m_id,drug_reg,sex,age_mon,weight_g,timepoint,tumorvol_mm3,metastatic_sites
m_id,,,,,,,,
k403,k403,Ramicane,Male,21,16,0,45.000000,0
k403,k403,Ramicane,Male,21,16,5,38.825898,0
k403,k403,Ramicane,Male,21,16,10,35.014271,1
k403,k403,Ramicane,Male,21,16,15,34.223992,1
k403,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
z969,z969,Naftisol,Male,9,30,25,63.145652,2
z969,z969,Naftisol,Male,9,30,30,65.841013,3
z969,z969,Naftisol,Male,9,30,35,69.176246,4
z969,z969,Naftisol,Male,9,30,40,70.314904,4
z969,z969,Naftisol,Male,9,30,45,73.867845,4

In [17]:
#Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

duplicatemice = mouse_study[mouse_study.duplicated()]
duplicatemice

,m_id,drug_reg,sex,age_mon,weight_g,timepoint,tumorvol_mm3,metastatic_sites
909,g989,Propriva,Female,21,26,0,45.0,0

In [18]:
# Optional: Get all the data for the duplicate mouse ID. 

mouse_index.loc["g989",:]

,m_id,drug_reg,sex,age_mon,weight_g,timepoint,tumorvol_mm3,metastatic_sites
m_id,,,,,,,,
g989,g989,Propriva,Female,21,26,0,45.000000,0
g989,g989,Propriva,Female,21,26,0,45.000000,0
g989,g989,Propriva,Female,21,26,5,48.786801,0
g989,g989,Propriva,Female,21,26,5,47.570392,0
g989,g989,Propriva,Female,21,26,10,51.745156,0
g989,g989,Propriva,Female,21,26,10,49.880528,0
g989,g989,Propriva,Female,21,26,15,51.325852,1
g989,g989,Propriva,Female,21,26,15,53.442020,0
g989,g989,Propriva,Female,21,26,20,55.326122,1
g989,g989,Propriva,Female,21,26,20,54.657650,1
g989,g989,Propriva,Female,21,26,25,56.045564,1
g989,g989,Propriva,Female,21,26,30,59.082294,1
g989,g989,Propriva,Female,21,26,35,62.570880,2

In [19]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_indcln = mouse_index.drop('g989')
mouse_indcln.shape

(1880, 8)

In [20]:
# Checking the number of mice in the clean DataFrame.
mouse_numcln = mouse_indcln['m_id'].nunique()
mouse_numcln

248

## Summary Statistics

In [21]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
mse_mean = round(mouse_indcln["tumorvol_mm3"].mean(),2)
mse_median = round(mouse_indcln["tumorvol_mm3"].median(),2)
mse_var = round(mouse_indcln["tumorvol_mm3"].var(),2)
mse_sd = round(mouse_indcln["tumorvol_mm3"].std(),2)
mse_sem = round(mouse_indcln["tumorvol_mm3"].sem(),2)

sumstat1 = dict()
sumstat1['Mean'] = str(mse_mean)
sumstat1['Median'] = str(mse_median)
sumstat1['Variance'] = str(mse_var)
sumstat1['Standard Deviation'] = str(mse_sd)
sumstat1['Standard Error of Mean'] = str(mse_sem)

sumstat1df = pd.DataFrame(list(sumstat1.items()), index=[' ', ' ', ' ', ' ', ' '], columns =('Summary Statistic','Value'))
# This method is the most straighforward, creating multiple series and putting them all together at the end.

sumstat1df

        Summary Statistic  Value
                     Mean  50.44
                   Median  48.93
                 Variance  79.46
       Standard Deviation   8.91
   Standard Error of Mean   0.21

In [22]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

sumstat2 = round(mouse_indcln["tumorvol_mm3"].mean(),2), 
round(mouse_indcln["tumorvol_mm3"].median(),2),
round(mouse_indcln["tumorvol_mm3"].var(),2),
round(mouse_indcln["tumorvol_mm3"].std(),2),
round(mouse_indcln["tumorvol_mm3"].sem(),2)

sumstat2

# This method produces everything in a single groupby function

(50.44,)

## Bar and Pie Charts

In [48]:
mouse_indcln.drug_reg.unique()

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [51]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
drug_ct = mouse_indcln.drug_reg.value_counts()
drug_ctdf = pd.DataFrame(drug_ct)
drug_ctdf.columns = ['Count']
drug_ctdf.plot(drug_ct, kind = "bar")

KeyError: "None of [Int64Index([230, 228, 188, 186, 182, 181, 181, 178, 178, 148], dtype='int64')] are in the [columns]"

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen